<ActionBar class="action-bar">
    <Label class="action-bar-title" style="text-align: center" text="Login"></Label>
</ActionBar>

<StackLayout class="page" style="vertical-align: center" [formGroup]="signInForm">

    <StackLayout orientation="vertical" verticalAlignment="center" class="form">

        <StackLayout class="input-field">
            <Label text="Username: " class="label m-b-10"></Label>
            <TextField class="input" autocapitalizationType="none" autocorrect="false" formControlName="username">
            </TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <StackLayout class="input-field">
            <Label text="Senha: " class="label m-b-10"></Label>
            <TextField class="input" secure="true" formControlName="password"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <Button class="btn btn-primary btn-lg" text="Login" (tap)="login()"></Button>
        <Button class="btn btn-primary btn-lg" nsRouterLink="/sign-up" text="Criar Conta"
            pageTransition="slideLeft"></Button>

        <ActivityIndicator row="1" #activityIndicator [busy]="isBusy" (busyChange)="onBusyChanged($event)" width="100"
            height="100" class="activity-indicator"></ActivityIndicator>
    </StackLayout>

</StackLayout>
